@{
    ViewBag.Title = "Home Page";
}


   <head>    <title>AB Brothers | Best Real Estate Company in Kanpur</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/assets/website/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/website/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/website/css/animate.css">
    <link rel="stylesheet" href="~/assets/website/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/website/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/website/css/magnific-popup.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/website/css/templatemo-style.css">
     
    <style>
        @@media (min-width: 768px) {
            .navbarShift {
                margin-left: 30em;
            }
        }
     </style>
        </head>
<body>
    <!-- PRE LOADER -->
   
    <!-- MENU -->
        <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5" style="background-position: 0% 0px;">
        <div class="row">
            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                
                
            <!--<div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>New Restaurant in Town</h3>
                                <h1>Enjoy our special menus every Sunday and Friday</h1>
                                <a href="#contact" class="section-btn btn btn-default smoothScroll">Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>  -->
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4674px, 0px, 0px); transition: all 1s ease 0s; width: 9348px;"><div class="owl-item cloned" style="width: 1558px;"><div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>AB Brothers Realbuild Private Limited</h3>
                                <h1>Our mission is to provide home to everyone</h1>
                                
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1558px;"><div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>AB Brothers Realbuild Private Limited</h3>
                                <h1>Our mission is to provide home to everyone</h1>
                                
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item" style="width: 1558px;"><div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>AB Brothers Realbuild Private Limited</h3>
                                <h1>Our mission is to provide home to everyone</h1>
                                
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item active" style="width: 1558px;"><div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>AB Brothers Realbuild Private Limited</h3>
                                <h1>Our mission is to provide home to everyone</h1>
                                
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1558px;"><div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>AB Brothers Realbuild Private Limited</h3>
                                <h1>Our mission is to provide home to everyone</h1>
                                
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1558px;"><div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>AB Brothers Realbuild Private Limited</h3>
                                <h1>Our mission is to provide home to everyone</h1>
                                
                            </div>
                        </div>
                    </div>
                </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
        </div>
    </section>
    
    <section style="height:620x; padding: 22px 0;">
        <div class="container" style="height:620x;">
            <div class="row" style="height:620x;">
                <div class="col-md-6 col-sm-12" style="height:620x; padding:15px;">
                    <div style="height:620x;">
                        <img src="~/assets/website/b_ayushman.jpg" class="img-responsive" style="height:620x;">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" style="height:620x; padding:15px;">
                    <div style="height:620x;">
                        <img src="~/assets/website/b_minibank.jpg" class="img-responsive" style="height:620x;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="height:620x; padding: 22px 0;">
        <div class="container" style="height:620x;">
            <div class="row" style="height:620x;">
                <div class="col-md-6 col-sm-12" style="height:620x; padding:15px;">
                    <div style="height:620x;">
                        <img src="~/assets/website/b_pan.jpeg" class="img-responsive" style="height:620x;">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" style="height:620x; padding:15px;">
                    <div style="height:620x;">
                        <img src="~/assets/website/b_rech.jpg" class="img-responsive" style="height:620x;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="height:620x; padding: 22px 0;">
        <div class="container" style="height:620x;">
            <div class="row" style="height:620x;">
                <div class="col-md-6 col-sm-12" style="height:620x; padding:15px;">
                    <div style="height:620x;">
                        <img src="~/assets/website/b_minist.jpg" class="img-responsive" style="height:620x;">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" style="height:620x; padding:15px;">
                    <div style="height:620x;">
                        <img src="~/assets/website/b_realest.jpg" class="img-responsive" style="height:620x;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ABOUT 
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h4>Read our story</h4>
                            <h2>We've been Developing Properties Since 2021</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Since its inception, AB Brothers has been a definitive name. Since the very beginning, all the developments have been giving appreciable returns. 
                               It has been a highly profitable investment and looks even brighter in the future. Whether you prefer investing for long term or short term, we have the right choices. 
                               Not just for residential purpose, we have properties to make good investment also. <br>
                               AB Brothers as a brand symbolizes integrity and quality. Our pursuit is to provide top-class properties that fosters happiness and prosperity. 
                               Delighting property owners and translating their dreams to reality is our aspiration.
</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img src="~/assets/website/images/hand.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h4>Read our story</h4>
                            <h2>We've been Developing Properties Since 2021</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Since its inception, AB Brothers has been a definitive name. Since the very beginning, all the developments have been giving appreciable returns. 
                               It has been a highly profitable investment and looks even brighter in the future. Whether you prefer investing for long term or short term, we have the right choices. 
                               Not just for residential purpose, we have properties to make good investment also. <br>
                               AB Brothers as a brand symbolizes integrity and quality. Our pursuit is to provide top-class properties that fosters happiness and prosperity. 
                               Delighting property owners and translating their dreams to reality is our aspiration.
</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img src="~/assets/website/images/hand.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    
    <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5" style="background-position: 0% -1334.03px;">
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-8">
                         <div class="footer-info">
                              <address class="wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <h2>Reg. Office :</h2>
                                    <p>EWS 611/612 <br>Swarn Jayanti Vihar Sector 6, <br>Satbari Road, Kanpur - 208011</p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-8">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2 class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Contact Details</h2>
                              </div>
                              <address class="wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                   <p>7007215353 <br>9044753622 <br>8299780447 <br>8090564896 </p>
                                   <p><a href="mailto:abbrothersrealbuild2122@gmail.com">abbrothersrealbuild2122@gmail.com</a></p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-8">
                         <div class="footer-info footer-open-hour">
                              <div class="section-title">
                                   <h2 class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Open Hours</h2>
                              </div>
                              <div class="wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                   <div>
                                        <strong>All Days Open</strong>
                                        <p>10:00 AM - 6:00 PM</p>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         
                         <div class="wow fadeInUp copyright-text animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"> 
                              <p><br>Copyright © 2023 <br>AB Brothers Realbuild Private Limited
                              
                              <br><br>Managed By : <br><a rel="nofollow" href="https://abbrothers.in" target="_parent">AB Brothers</a></p>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="~/assets/website/js/jquery.js"></script>
     <script src="~/assets/website/js/bootstrap.min.js"></script>
     <script src="~/assets/website/js/jquery.stellar.min.js"></script>
     <script src="~/assets/website/js/wow.min.js"></script>
     <script src="~/assets/website/js/owl.carousel.min.js"></script>
     <script src="~/assets/website/js/jquery.magnific-popup.min.js"></script>
     <script src="~/assets/website/js/smoothscroll.js"></script>
     <script src="~/assets/website/js/custom.js"></script>     

</body>
