
@{
    ViewBag.Title = "Others";
}

<style>
    .pointer {
        cursor: pointer;
    }
</style>

<div class="page-wrapper">
    <div class="page-content">



        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

            <a href="">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">Check PNR</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">Resume Maker</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="searchpan_no.php">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">CSC Services</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">Check PAN</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <br />
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <a href="">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">IFSC Code Finder</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">Govt. Service</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col pointer">
                    <div class="card radius-10 bg-gradient-ohhappiness">
                        <div class="card-body" style="background:radial-gradient(#bfb4dd, #0555 1%, #3c372d); !important;" ="">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="my-1 text-white">Credit Card</h4>
                                </div>
                                <div class="text-white ms-auto font-35">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>



        </div>
    </div>
</div>